{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF

brew "git"
cask "git-credential-manager"
brew "chezmoi"

cask "kitty"
brew "zsh"
brew "starship"
brew "direnv"

cask "bitwarden"

tap "koekeishiya/formulae"
brew "yabai"
brew "skhd"
brew "jq"

tap "smudge/smudge"
brew "nightlight"

tap "homebrew/cask-fonts"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-victor-mono-nerd-font"
cask "font-roboto-mono-nerd-font"

cask "google-chrome"
cask "google-drive"

cask "docker"

brew "kubectl"
brew "k9s"
brew "dive"

tap "fluxcd/tap"
brew "fluxcd/tap/flux"

brew "bat"
brew "ripgrep"
brew "fzf"
brew "pastel"
brew "eza"

EOF

# change to homebrew zsh
grep -qxF "$(which zsh)" /etc/shells || echo "$(which zsh)" | sudo tee -a /etc/shells
if [ "$SHELL" != "$(which zsh)" ]; then
  chsh -s $(which zsh)
fi

# Initialize zsh
grep -qF "ZDOTDIR" /etc/zshenv || echo 'export "ZDOTDIR=$HOME/.config/zsh"' | sudo tee /etc/zshenv

# disable minimize shortcut
defaults write -g NSUserKeyEquivalents -dict-add 'Minimize' '\0'

# ~/.config/yabai/yabairc
yabai --start-service
# ~/.config/skhd/skhdrc
skhd --start-service

{{ else if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt install chezmoi
{{ end -}}
