{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF

brew "git"
cask "git-credential-manager"
brew "chezmoi"

cask "bitwarden"

tap "koekeishiya/formulae"
brew "yabai"
brew "skhd"
brew "jq"

tap "smudge/smudge"
brew "nightlight"

# cask "google-chrome"

cask "docker"

brew "kubectl"
brew "k9s"
brew "dive"

tap "fluxcd/tap"
brew "fluxcd/tap/flux"
EOF

# disable minimize shortcut
defaults write -g NSUserKeyEquivalents -dict-add 'Minimize' '\0'

# ~/.config/yabai/yabairc
yabai --start-service
# ~/.config/skhd/skhdrc
skhd --start-service

{{ else if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt install chezmoi
{{ end -}}
