{{- $name := promptStringOnce . "git.name" "Enter your Full Name for Git" -}}
{{- $personalEmail := promptStringOnce . "git.email" "Enter your Personal email for Git" -}}
{{- $workEmail := promptStringOnce . "git.workEmail" "Enter your Work email for Git" -}}

data:
  git:
    email: {{ $personalEmail | quote }}
    name: {{ $name | quote }}
    workEmail: {{ $workEmail | quote }}
  packages:
    taps:
      - koekeishiya/formulae
      - smudge/smudge
      - homebrew/cask-fonts
      - FelixKratz/formulae
    brews:
      - asdf
      - bat
      - bitwarden-cli
      - bash
      - chezmoi
      - curl
      - direnv
      - eza
      - fzf
      - git
      - glab
      - glow
      - imagemagick
      - jq
      - jp2a
      - k9s
      - mpv
      - neofetch
      - nightlight
      - nnn
      - pastel
      - poppler
      - ripgrep
      - skhd
      - sketchybar
      - spotify_player
      - starship
      - tmux
      - tmuxinator
      - trash-cli
      - zsh
      - nvim
    casks:
      - bitwarden
      - docker
      - font-fira-code
      - font-fira-code-nerd-font
      - font-victor-mono-nerd-font
      - font-roboto-mono-nerd-font
      - gather
      - google-chrome
      - google-drive
      - kitty
      - slack
      - spotify
      - sf-symbols
      - zoom
 
