{{- $name := promptStringOnce . "git.name" "Enter your Full Name for Git" -}}
{{- $personalEmail := promptStringOnce . "git.email" "Enter your Personal email for Git" -}}
{{- $workEmail := promptStringOnce . "git.workEmail" "Enter your Work email for Git" -}}

data:
  git:
    email: {{ $personalEmail | quote }}
    name: {{ $name | quote }}
    workEmail: {{ $workEmail | quote }}
