#!/usr/bin/env bash

asdf plugin add direnv
asdf direnv setup --shell zsh --version latest
asdf global direnv latest

# asdf plugin add golang
# asdf install golang latest
# asdf global golang latest

asdf plugin add python
asdf install python latest
asdf global python latest

asdf plugin add age
asdf install age latest
asdf global age latest

asdf plugin add dive
asdf install dive latest
asdf global dive latest

asdf plugin add flux2
asdf install flux2 latest
asdf global flux2 latest

asdf plugin add gcloud
asdf install gcloud latest
asdf global gcloud latest

asdf plugin add kubectl
asdf install kubectl latest
asdf global kubectl latest

asdf plugin add helm
asdf install helm latest
asdf global helm latest

asdf plugin add nodejs
asdf install nodejs latest
asdf global nodejs latest

asdf plugin add pulumi
asdf install pulumi latest
asdf global pulumi latest

asdf plugin add sops
asdf install sops latest
asdf global sops latest

asdf plugin add talosctl
asdf install talosctl latest
asdf global talosctl latest

asdf plugin add talhelper
asdf install talhelper latest
asdf global talhelper latest

asdf plugin add terraform
asdf install terraform latest
asdf global terraform latest

asdf plugin add tekton-cli
asdf install tekton-cli latest
asdf global tekton-cli latest

asdf plugin add trivy
asdf install trivy latest
asdf global trivy latest
