{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
  "asdf"
  "bat"
  "curl"
  "eza"
  "fzf"
  "git"
  "jq"
  "k9s"
  "nightlight"
  "pastel"
  "ripgrep"
  "skhd"
  "starship"
  "zsh"
  "yabai"
}}
  
{{ $casks := list
  "bitwarden"
  "docker"
  "font-fira-code"
  "font-fira-code-nerd-font"
  "font-victor-mono-nerd-font"
  "font-roboto-mono-nerd-font"
  "git-credential-manager"
  "google-chrome"
  "google-drive"
  "kitty"
  "spotify"
}}

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "koekeishiya/formulae"
tap "smudge/smudge"
tap "homebrew/cask-fonts"

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

# change to homebrew zsh
grep -qxF "$(which zsh)" /etc/shells || echo "$(which zsh)" | sudo tee -a /etc/shells
if [ "$SHELL" != "$(which zsh)" ]; then
  chsh -s $(which zsh)
fi

# Initialize zsh
grep -qF "ZDOTDIR" /etc/zshenv || echo 'export "ZDOTDIR=$HOME/.config/zsh"' | sudo tee /etc/zshenv

# disable minimize shortcut
defaults write -g NSUserKeyEquivalents -dict-add 'Minimize' '\0'

# ~/.config/yabai/yabairc
yabai --start-service
# ~/.config/skhd/skhdrc
skhd --start-service

{{ else if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt install chezmoi
{{ end -}}
