{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -eufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF

{{- range (.packages.taps | sortAlpha | uniq) }}
  tap "{{ . }}"
{{- end }}
brew "fyabai", args: ['HEAD']
{{- range ( .packages.brews | sortAlpha | uniq) }}
brew "{{ . }}"
{{- end }}
{{- range ( .packages.casks | sortAlpha | uniq) }}
cask "{{ . }}"
{{- end }}
EOF

{{ else if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt install chezmoi
{{ end -}}
