[user]
	name = {{ .git.name }}
	email = {{ .git.email }}

[init]
  defaultBranch = main
	templatedir = ~/.config/git/templates

[pull]
  rebase = true

[fetch]
  prune = true

[core]
  editor = nvim
  commentChar = ";"
  excludesFile = ~/.config/git/gitignore

[credential]
  helper = osxkeychain

[blame]
  date = relative

[diff]
  algorithm = histogram
  tool = nvimdiff

[merge]
  conflictstyle = diff3

[url "git@github.com:"]
  insteadOf = https://github.com/
  
[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/

[format]
  signoff = true

[alias]
  l = log --date=short --decorate --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]"
  dog = log --all --decorate --oneline --graph
  to = "!git checkout $(git branches --no-multi)"
  drop = "!git branch -d $(git branches --multi)"
  st = status
  p = pull
  pp = push
  c = commit -s
  cm = commit -m -s
  can = commit --amend --no-edit
  co = checkout
  default-branch = !git remote show origin | rg 'HEAD branch' | cut -d ' ' -f5
  back = reset HEAD~1
  backk = reset HEAD~1 --hard
  files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
  stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
  review = !nvim -p $(git files) +\"tabdo Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"
  feature = !sh -c 'git switch --no-track -c $1 origin/${BASE_GIT_BRANCH-main}' -
  catchup = !sh -c 'git rebase origin/${BASE_GIT_BRANCH-main}' -
  what = "!git config --get-regexp alias"
	sweep = !git branch --merged $([[ $1 != \"-f\" ]] \\\n&& git rev-parse main) | egrep -v \"(^\\*|^\\s*(master|main)$)\" \\\n| xargs git branch -d
  tidy = "!git fetch origin -p && for branch in $(git branch -vv | grep ': gone]' | awk '{print $1}'); do git branch -D $branch; done"
[includeIf "hasconfig:remote.*.url:https://*.gamewarden.io/**"]
  path = ~/.config/git/2F.gitconfig
